.sagasu {
  /* background-color: #ae214b; */
  /* width: 70%; */
  /* padding: 1em; */
  text-align: center;
  margin: 0 auto;
  text-decoration: none !important;
  /* color: white; */
  /* border-radius: 18px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
  /* font-size: large; */
}
ul.recommend {
  /* display: flex; */
  overflow-x: scroll;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0;
}
ul.recommend li {
  display: inline-block;
  list-style: none;
}
ul.recommend li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 40px;
}
